.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: 20px;
}
.header-img{
    width: 100px;
    margin-left: 50px;
}
a{
    color: black;
    margin-right: 50px;
    margin-left: 30px;
    text-decoration: none;
}